.chart-container {
  display: block;
  height: 250px;
  margin-bottom: 45px;
}

@media only screen and (max-width: 768px) {
  .chart-container {
    height: 200px;
  }
}

.row .ui.form {
  margin-right: 20px;
}

.no-side-margins {
  margin-left: 0;
  margin-right: 0;
}

.content .meta span.date {
  font-size: 1em;
  color: rgba(0,0,0,.4);
}

.header {
  h1 {
    float: left;
  }

  div.content {
    float: right;
  }
}