<sui-dimmer class="page" [isDimmed]="!dataLoaded">
  <h2 class="ui inverted icon header">
    <div class="ui text loader">Loading data...</div>
  </h2>
</sui-dimmer>

<div class="ui grid no-side-margins">
  <div class="row">
    <div class="ui form">
      <div class="field">
        <label>Date from</label>
        <div class="ui left icon input">
          <i class="calendar icon"></i>
          <input suiDatepicker readonly [(ngModel)]="dateFrom" pickerMode="date" pickerFirstDayOfWeek="1"
            [pickerUseNativeOnMobile]="false" (ngModelChange)="updateDateFrom($event)">
        </div>
      </div>
    </div>
    <div class="ui form">
      <div class="field">
        <label>Date to</label>
        <div class="ui left icon input">
          <i class="calendar icon"></i>
          <input suiDatepicker readonly [(ngModel)]="dateTo" pickerMode="date" pickerFirstDayOfWeek="1"
            [pickerUseNativeOnMobile]="false" (ngModelChange)="updateDateTo($event)">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui segment">
  <div class="header">
    <h1>Air Quality</h1>
    <div class="content">
      <div>
        <label><strong>PM10: </strong></label>
        <a class="header">{{ lastPM10Value.value}} µg/m3</a>
      </div>
      <div>
        <label><strong>PM2.5: </strong></label>
        <a class="header">{{ lastPM25Value.value}} µg/m3</a>
      </div>
      <div class="meta">
        <span class="date">Last updated at {{ lastPM10Value.valueTime | date: 'HH:mm dd/MM/yy' }}</span>
      </div>
    </div>
  </div>
  <div class="one column row no-top-padding no-bottom-padding">
    <div class="column">
      <div class="chart-container">
        <canvas baseChart height="40" [datasets]="airQualityDataSets" [labels]="airQualityLabels"
          [options]="airQualityChartOptions" legend="true" chartType="line">
        </canvas>
      </div>
    </div>
  </div>
</div>

<div class="ui segment">
  <div class="header">
    <h1>Temperature</h1>
    <div class="content">
      <a class="header">{{ lastTemperatureValue.value}} °C</a>
      <div class="meta">
        <span class="date">Last updated at {{ lastTemperatureValue.valueTime | date: 'HH:mm dd/MM/yy' }}</span>
      </div>
    </div>
  </div>
  <div class="one column row no-top-padding no-bottom-padding">
    <div class="column">
      <div class="chart-container">
        <canvas #temperatureChart baseChart height="40" [datasets]="temperatureDataSets" [labels]="temperatureLabels"
          [options]="temperatureChartOptions" legend="false" chartType="line" [plugins]="lineChartPlugins">
        </canvas>
      </div>
    </div>
  </div>
</div>

<div class="ui segment">
  <div class="header">
    <h1>Humidity</h1>
    <div class="content">
      <a class="header">{{ lastHumidityValue.value}} %</a>
      <div class="meta">
        <span class="date">Last updated at {{ lastHumidityValue.valueTime | date: 'HH:mm dd/MM/yy' }}</span>
      </div>
    </div>
  </div>
  <div class="one column row no-top-padding no-bottom-padding">
    <div class="column">
      <div class="chart-container">
        <canvas baseChart height="40" [datasets]="humidityDataSets" [labels]="humidityLabels"
          [options]="humidityChartOptions" legend="false" chartType="line">
        </canvas>
      </div>
    </div>
  </div>
</div>

<div class="ui segment">
  <div class="header">
    <h1>Pressure</h1>
    <div class="content">
      <a class="header">{{ lastPressureValue.value}} hPa</a>
      <div class="meta">
        <span class="date">Last updated at {{ lastPressureValue.valueTime | date: 'HH:mm dd/MM/yy' }}</span>
      </div>
    </div>
  </div>
  <div class="one column row no-top-padding no-bottom-padding">
    <div class="column">
      <div class="chart-container">
        <canvas baseChart height="40" [datasets]="pressureDataSets" [labels]="pressureLabels"
          [options]="pressureChartOptions" [legend]="'false'" chartType="line">
        </canvas>
      </div>
    </div>
  </div>
</div>